Source: pb-rsync
Maintainer: Alexander Kulbii <alexander.kulbii@profitbricks.com>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9), dh-autoreconf, libini-config-dev, liblz4-dev, yodl
Standards-Version: 3.9.5
Homepage: http://gitweb/gitweb.cgi/ri/pb-rsync.git
Vcs-Browser: http://gitweb/gitweb.cgi/ri/pb-rsync.git
Vcs-Git: git+ssh://gitweb/gitweb.cgi/ri/pb-rsync.git

Package: pb-rsync
Architecture: any
Depends: lsb-base (>= 3.0-6), ${misc:Depends}, ${shlibs:Depends}
Conflicts: rsync
Description: Rsync modified by PB guys
