#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-included-zlib=no --with-lz4-support=yes

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:

override_dh_installinit:
	dh_installinit --name=rsync
