#!/usr/bin/make -f

DEB_CONFIGURE_EXTRA_FLAGS = --with-included-zlib=no --with_lz4_support=yes

%:
	dh $@

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:

override_dh_installinit:
	dh_installinit --name=rsync
